:root{
  --beige-color: #E3DAC5;
  --orange-color: #F4B473;
  --brown-color: #7B3609;
  --green-color: #8A8E3F;
  --light-brown-color: #A77443 !important;
}


.btn.btn-primary{
  background-color: var(--light-brown-color);
  border: var(--light-brown-color);
  cursor: pointer;
}

.btn.btn-primary:disabled{
  background-color: var(--light-brown-color);
  opacity: 0.5;
  border: var(--light-brown-color);
  cursor: auto;
}

.btn.btn-primary:hover{
  background-color: var(--brown-color);
}

nav.bg-body-tertiary{
  background-color: var(--beige-color) !important;
}

.beige{
  background-color: var(--beige-color);
}

div.card{
  background-color: var(--beige-color);
}


.screen{
  flex: 1;
  padding-top: 80px;
  padding-bottom: 80px;

}


