<div class="container screen" *ngIf="pets">
    <div *ngIf="isLoading">
      <div class="spinner-grow text-bg-light" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <ng-container *ngIf=" pets.length < 1 && !isLoading">
      <p>There are no more pets to swipe. Check in later or change your filter.</p>
    </ng-container>
    <app-match-element [pet]="pet" (matchEvent)="isMatch()" (noMatchEvent)="isNoMatch()"
                       *ngIf="pets.length > 0 && pet"></app-match-element>
  </div>
