<div class="container text-center">
<div class="m-4">
<h2>Find your best friend – forever or as a forster pet!</h2>
</div>
<div class="d-flex justify-content-center m-4">
  <div class="card me-1">
    <img src="foto-pets.jpg" class="card-img-top p-2" alt="cat with owner">
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Adopt, Foster, Love – Join Kahu Today</h5>
      <p class="card-text">Kahu is an app designed to connect people with animals in need of a home. Whether you're looking to adopt a pet or offer temporary foster care, Kahu makes it easy to find the perfect match. The app features detailed profiles of animals from shelters or homes that can’t care for them, complete with photos, descriptions, age, breed, special requirements, and what type of home they need (forever or foster). Users can swipe through profiles, send inquiries to shelters, and chat with them to arrange adoptions or foster placements. Kahu helps build loving connections between people and animals while promoting responsible pet ownership.</p>
      <button class="btn btn-primary m-4">create profile</button>
    </div>
  </div>
</div>
</div>
