<div class="container-fluid text-center screen" *ngIf="!loggedIn; else loggedInTemplate">
  <div class="m-4 mt-5">
    <h2>Find your best friend – forever or as a foster pet!</h2>
  </div>
  <div class="row m-4 justify-content-center">
    <div class="card col-12 col-md-5 me-1 mb-2 d-flex justify-content-center">
      <img src="foto-pets.jpg" class=" img-fluid p-2" alt="pets">
    </div>
    <div class="card col-12 col-md-5 mb-2">
      <div class="card-body">
        <h5 class="card-title">Adopt, Foster, Love – Join Kahu Today</h5>
        <p class="card-text">Kahu is an app designed to connect people with animals in need of a home. Whether you're
          looking to adopt a pet or offer temporary foster care, Kahu makes it easy to find the perfect match. The app
          features detailed profiles of animals from shelters or homes that can’t care for them, complete with photos,
          descriptions, age, breed, special requirements, and what type of home they need (forever or foster). Users can
          swipe through profiles, send inquiries to shelters, and chat with them to arrange adoptions or foster
          placements. Kahu helps build loving connections between people and animals while promoting responsible pet
          ownership.</p>
        <button class="btn btn-primary m-4" routerLink="/sign-up">create profile</button>
      </div>
    </div>
  </div>
</div>
<ng-template #loggedInTemplate>
  <div *ngIf="isLoading" class="screen container">
    <div class="spinner-grow text-bg-light" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <ng-container *ngIf="!isLoading">
  <div *ngIf="loggedInProfile; else createProfil">
    <app-dashboard [profile]="loggedInProfile"></app-dashboard>
  </div>
  <ng-template #createProfil>
<app-create-profile (createdProfile)="setUser()"></app-create-profile>
  </ng-template>
  </ng-container>
</ng-template>

