<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" *ngIf="loggedIn && loggedInProfile; else beforeLogin">
  <a class="navbar-brand ps-3" href="#">
    <img ngSrc="Kahu_logo.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
  </a>
  <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-lg-flex justify-content-around" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" aria-current="page" href="#">🏠 Home</a>
      <a class="nav-link" href="/swipe" *ngIf="isPetOwner">🔎 Browse</a>
      <a class="nav-link" href="/matches" *ngIf="isPetOwner">⭐ Saved</a>
      <a class="nav-link" href="/pets" *ngIf="!isPetOwner">🐱 Pets</a>
      <a class="nav-link" href="/notifications">🔔 Notifications</a>
      <a class="nav-link" href="/mailbox">💬 Mailbox</a>
      <a class="nav-link" href="/profile">👤 Profile</a>
    </div>
  </div>
  <button class="btn btn-primary me-3" (click)="logout()">Logout</button>
</nav>


<ng-template #beforeLogin>
  <nav class="navbar  bg-body-tertiary fixed-top">
    <a class="navbar-brand ps-3" href="">
      <img src="Kahu_logo.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
    </a>
    <button *ngIf="!loggedIn" class="btn btn-primary me-3" routerLink="/login">Login</button>
    <button *ngIf="loggedIn" class="btn btn-primary me-3" (click)="logout()">Logout</button>
  </nav>
</ng-template>
