<nav class="navbar navbar-expand-lg bg-body-tertiary position-sticky top-0">
  <div class="container-fluid d-none d-lg-flex beige">
    <a class="navbar-brand" href="#">
      <img src="Kahu_logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-lg-flex justify-content-around" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home 🏠</a>
        <a class="nav-link" href="#">Browse 🔎</a>
        <a class="nav-link" href="#">Saved ⭐</a>
        <a class="nav-link" href="#">Notifications 🔔</a>
        <a class="nav-link" href="#">Mailbox 💬</a>
        <a class="nav-link" href="#">Profile</a>
      </div>
    </div>
  </div>
</nav>
