
.back-icon{
  display: none;
}

@media (max-width: 991px) {

  .chat-overview-open{
    display: none;
  }


  .back-icon{
    display: inline-block;
  }

  #chat{
    margin: 3px;
  }

  .chat-details-open{
    display: none;
  }
}

