<div class="container screen" *ngIf="profile">
  <div class="d-flex justify-content-end">
  <i class="bi bi-gear" routerLink="/owner-profile-form"></i>
  </div>
  <div class="row mt-2 gap-5 mb-4">
    <div class=" col-12 col-sm-4">
      <img src="{{profile.profilePicture}}" class="img-fluid rounded-circle p-4 p-sm-5">
    </div>
    <div class=" col-12 col-sm-6 mt-sm-4">
      <div class="card-body">
        <h2 class="card-title mb-4">{{ profile.name }}</h2>
        <h5 class="card-subtitle mb-2 text-body-secondary">About me</h5>
        <p class="card-text mb-4">{{profile.profileText}}</p>
      </div>
      <a [routerLink]="['/mailbox', profile.id]"  class="btn btn-primary">Send Message</a>
    </div>
  </div>


  <div class="row gap-3 mb-5 me-1 ms-1">
    <div class="card col-12 col-sm">
      <div class="card-body">
        <h5 class="card-title">Personal Details</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary" *ngIf="profile.hasExperience == true">Experienced Kahu</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary" *ngIf="profile.hasExperience == false">First Time Kahu</h6>
        <p class="card-text">age: {{profile.age}}</p>
        <p>Postal code: {{ profile.postalCode }}</p>
        <p>Is looking for: </p>
        <figure class="figure" *ngIf="profile.lookingFor.includes(PetOwnershipType.ADOPTION)">
          <img src="icons-pet-heart.png" class="figure-img img-fluid rounded me-5" alt="Ein Beispielbild">
          <figcaption class="figure-caption text-center me-5">Forever pet</figcaption>
        </figure>
        <figure class="figure" *ngIf="profile.lookingFor.includes(PetOwnershipType.FOSTER)">
          <img src="icon shelter.png" class="figure-img img-fluid rounded" alt="Ein Beispielbild">
          <figcaption class="figure-caption text-center">Foster pet</figcaption>
        </figure>
      </div>
    </div>
    <div class="card col-12 col-sm">
      <div class="card-body">
        <h5 class="card-title mb-3">Living Situation</h5>
        <p>area: {{profile.residentialArea}}</p>
        <p class="card-text">type of home: {{ profile.typeOfHome }}</p>
        <p>Home size: {{profile.homeSize}} m²</p>
        <p>lives with children: {{profile.hasChildren ? "yes" : "no"}}</p>
        <p>lives with other pets: {{profile.hasPets ? "yes" : "no"}}</p>
        <p>has a garden: {{profile.hasGarden ? "yes" : "no"}}</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12 col-sm-4 mb-2">
      <img src="example-pics/example-1.jpg" class="img-fluid rounded shadow img-uniform img-zoom">
    </div>
    <div class="col-12 col-sm-4 mb-2">
      <img src="example-pics/example-4.jpg" class="img-fluid rounded shadow img-uniform img-zoom">
    </div>
    <div class="col-12 col-sm-4 mb-3">
      <img src="example-pics/example-3.jpg" class="img-fluid rounded img-uniform img-zoom">
    </div>
  </div>
</div>
