<div class="container screen" *ngIf="petOwnerProfile">
  <div class="d-flex justify-content-end" *ngIf="petOwnerProfile===visitingProfile">
  <i class="bi bi-gear" routerLink="/owner-profile-form"></i>
  </div>
  <div class="row mt-2 gap-5 mb-4">
    <div class=" col-12 col-sm-4">
      <img src="{{petOwnerProfile.profilePicture}}" class="img-fluid rounded-circle p-4 p-sm-5" alt="{{petOwnerProfile.name}}">
    </div>
    <div class=" col-12 col-sm-6 mt-sm-4">
      <div class="card-body">
        <h2 class="card-title mb-4">{{ petOwnerProfile.name }}</h2>
        <h5 class="card-subtitle mb-2 text-body-secondary">About me</h5>
        <p class="card-text mb-4">{{petOwnerProfile.profileText}}</p>
      </div>
      <a [routerLink]="['/mailbox', petOwnerProfile.id]"  class="btn btn-primary" *ngIf="visitingProfile != petOwnerProfile">Send Message</a>
    </div>
  </div>


  <div class="row gap-3 mb-5 me-1 ms-1">
    <div class="card col-12 col-sm">
      <div class="card-body">
        <h5 class="card-title">Personal Details</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary" *ngIf="petOwnerProfile.hasExperience">Experienced Kahu</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary" *ngIf="!petOwnerProfile.hasExperience">First Time Kahu</h6>
        <p class="card-text">age: {{petOwnerProfile.age}}</p>
        <p>Postal code: {{petOwnerProfile.address.postalCode}}</p>
        <p>Is looking for: </p>
        <figure class="figure" *ngIf="petOwnerProfile.lookingFor.includes(PetOwnershipType.ADOPTION)">
          <img src="icons-pet-heart.png" class="figure-img img-fluid rounded me-5" alt="Ein Beispielbild">
          <figcaption class="figure-caption text-center me-5">Forever pet</figcaption>
        </figure>
        <figure class="figure" *ngIf="petOwnerProfile.lookingFor.includes(PetOwnershipType.FOSTER)">
          <img src="icon shelter.png" class="figure-img img-fluid rounded" alt="Ein Beispielbild">
          <figcaption class="figure-caption text-center">Foster pet</figcaption>
        </figure>
      </div>
    </div>
    <div class="card col-12 col-sm">
      <div class="card-body">
        <h5 class="card-title mb-3">Living Situation</h5>
        <p>area: {{petOwnerProfile.residentialArea}}</p>
        <p class="card-text">type of home: {{ petOwnerProfile.typeOfHome }}</p>
        <p>Home size: {{petOwnerProfile.homeSize}} m²</p>
        <p>lives with children: {{petOwnerProfile.hasChildren ? "yes" : "no"}}</p>
        <p>lives with other pets: {{petOwnerProfile.hasPets ? "yes" : "no"}}</p>
        <p>has a garden: {{petOwnerProfile.hasGarden ? "yes" : "no"}}</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12 col-sm-4 mb-2" *ngFor="let picture of petOwnerProfile.pictures">
      <img src="{{picture}}" class="img-fluid rounded shadow img-uniform img-zoom">
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Write your message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [formControl]="message"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="sendMessage()" [disabled]="message.invalid">Send</button>
      </div>
    </div>
  </div>
</div>
