<div class="screen container">
  <h1 class="text-center">Pets for adoption</h1>
  <div class="text-center d-flex justify-content-center mb-3">
    <p class="me-1">Total: {{ pets.length }} animals</p>
    <i class="bi bi-plus" routerLink="/pet/new"></i>
  </div>
  <div class="row gap-4 justify-content-evenly">
  <div class="card col-12 col-sm-4 col-md-3 col-lg-2" style="max-width: 18rem;" *ngFor="let pet of pets">
    <img src="{{pet.pictures[0]}}" class="card-img mt-2" alt="{{pet.name}}">
    <div class="card-body">
      <h5 class="card-title text-center cursor" [routerLink]="['/profile/pet', pet.id]">{{ pet.name }}</h5>
    </div>
  </div>
</div>
</div>
