<div class="container screen" *ngIf="shelterProfile">
  <div class="d-flex justify-content-end">
    <i class="bi bi-gear cursor" routerLink="/shelter-profile-form" (click)="console.log('Navigating to shelter-profile-form')" *ngIf="visitingProfile === shelterProfile"></i>
  </div>
  <div class="mb-4 text-center">
    <div class="card-body">
      <h2 class="card-title mb-4">{{ shelterProfile.name }}</h2>
      <h5 class="card-subtitle mb-2 text-body-secondary"
          *ngIf="shelterProfile.pointOfContact">Contact person: {{ shelterProfile.pointOfContact }}</h5>
      <p class="card-text mb-4">{{ shelterProfile.profileText}}</p>
    </div>
    <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary" *ngIf="shelterProfile != visitingProfile">Send Message</a>
  </div>


  <div class="row gap-3 mb-5 me-1 ms-1">
    <div class="card col-12 col-sm">
      <div class="card-body" *ngIf="shelterProfile.mailAddress || shelterProfile.website">
        <h5 class="card-title mb-3">Contact Details</h5>
        <p *ngIf="shelterProfile.hoursOfOperation">Opening hours: {{ shelterProfile.hoursOfOperation }}</p>
        <p *ngIf="shelterProfile.website">website: {{ shelterProfile.website }}</p>
        <p *ngIf="shelterProfile.mailAddress">e-mail: {{ shelterProfile.mailAddress }}</p>
      </div>
    </div>
    <div class="card col-12 col-sm">
      <div class="card-body">
        <h5 class="card-title mb-3">Address</h5>
        <p>{{ shelterProfile.address.streetName }} {{ shelterProfile.address.houseNumber }}</p>
        <p>{{ shelterProfile.address.postalCode }}, {{ shelterProfile.address.city }}</p>
        <p>{{ shelterProfile.address.country }}</p>
      </div>
    </div>
  </div>

<div  *ngIf="shelterProfile.pets.length > 0" class="d-flex justify-content-center align-items-center">
  <div id="carouselExampleCaptions" class="carousel slide" style=" max-width: 24rem">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let pet of shelterProfile.pets; let i = index" [class.active]="i ===0" >
        <img src="{{pet.pictures[0]}}" class="d-block w-100 card-img" alt="{{pet.name}}">
        <div class="carousel-caption d-none d-md-block">
          <a target="_blank" class="text-decoration-none link-light" [routerLink]="['/profile/pet', pet.id]"><h5 class="cursor" >{{ pet.name }}</h5></a>
        </div>
      </div>
    </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Write your message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [formControl]="message"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeButton">Close</button>
        <button type="button" class="btn btn-primary" (click)="sendMessage()" [disabled]="message.invalid">Send</button>
      </div>
    </div>
  </div>
</div>

