.green{
  background-color: green;
}

.red{
  background-color: red;
}

.modal-dialog.modal-80 {
  max-width: 80%;
}

.card{
  max-width: 50%;
}

@media (max-width: 991px) {
  .card{
    max-width: 90%;
  }

  .modal-dialog.modal-80 {
    max-width: 100%;
  }
}
