.chat-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-container {
  position: relative;
  height: 70vh;
}


@media (max-width: 991px) {

  .form-control {
    font-size: 10px;
  }


  #input {
    padding: 5px;
    background-color: var(--beige-color);
  }

}
